name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # Allow a manual trigger to be able to run the update when there are new dependencies or after a PR merge to resolve CHANGELOG conflicts.
  workflow_dispatch:

jobs:
  deps:
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Dotnet SDK
            path: tools/update-dotnet.ps1
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      name: ${{ matrix.name }}
      path: ${{ matrix.path }}
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
